
@{
    ViewBag.Title = "Details";   
}

<div id="ozellik">
    <h1>Akrep Özellikleri</h1>
    <img src="~/img/akrep.png" alt="" />
    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
        Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
        Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
    </p>
</div>
<hr />
<div id="Uyumluluk">
    <h1>Diğer Burçlarla Uyumunuz</h1>
    <div id="Uyumlu">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <ul>
            <li class="Uyar">
                <img src="~/img/terazi.png" alt="" />
                <br />
                <a href=" ">Terazi</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uyar">
                <img src="~/img/akrep.png" alt="" />
                <br />
                <a href=" ">Akrep</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uyar">
                <img src="~/img/yay.png" alt="" />
                <br />
                <a href=" ">Yay</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uyar">
                <img src="~/img/oglak.png" alt="" />
                <br />
                <a href=" ">Oğlak</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uyar">
                <img src="~/img/kova.png" alt="" />
                <br />
                <a href=" ">Kova</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uyar">
                <img src="~/img/balik.png" alt="" />
                <br />
                <a href=" ">Balık</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
        </ul>
    </div>
    <div id="Uyumsuz">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <ul>
            <li class="Uymaz">
                <img src="~/img/koc.png" alt="" />
                <br />
                <a href=" ">Koç</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uymaz">
                <img src="~/img/boga.png " alt="" />
                <br />
                <a href=" ">Boğa</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uymaz">
                <img src="~/img/ikizler.png " alt="" />
                <br />
                <a href=" ">İkizler</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uymaz">
                <img src="~/img/yengec.png" alt="" />
                <br />
                <a href=" ">Yengeç</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uymaz">
                <img src="~/img/aslan.png" alt="" />
                <br />
                <a href=" ">Aslan</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
            <li class="Uymaz">
                <img src="~/img/basak.png" alt="" />
                <br />
                <a href=" ">Başak</a>
                <br />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
            </li>
        </ul>
    </div>
</div>