@using WebApplication3.Models
@model List<Etkinlik>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tarih</title>
</head>
<body>
    <div> 
        <ul>
            @foreach (var sinema in Model)
            {
                <li>@sinema.Adi</li>
            }
        </ul>
    </div>
</body>
</html>
